* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(320deg, #039BE5, #448AAF, #6A1B9A);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-expand-lg {
    background-color: #262626;
}

.navbar-brand, span {
    color: #00E5FF;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-style: initial;
    color: black;
}

h4 {
    font-style: initial;
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
}

hr {
    border-color: darkblue;
}

.btn-outline-info {
    border-style: groove;
    border-color: #54B4D3;
    border-radius: 7.5px;
    font-style: initial;
    font-size: 16px;
    font-weight: 600;
    color: #54B4D3;
    text-align: center;
}

.btn-outline-info:hover {
    border-style: groove;
    border-color: #54B4D3;
    border-radius: 7.5px;
    background: linear-gradient(320deg,#039BE5,#448AFF,#6A1B9A);
    color: black;
    font-style: initial;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.bi-backspace {
    margin-right: 7.5px;
}

.bi-share-fill {
    margin-right: 7.5px;
}

.details-icon {
    width: 205px;
    margin-bottom: 25px;
}